{% extends "base.html" %}

{% block title %} PlaniPRO G&A {% endblock %}

{% block navbar %}
<a class="nav-link" href="/trabajadores">Trabajadores</a>
<a class="nav-link" href="/asistencia">Asistencia</a>
<a class="nav-link" href="/desarrollo">Desarrollo</a>
<a class="nav-link" href="/planilla">Planilla</a>
{% endblock %}

{% block content %}
<form action="/api" method="post">
    {{ form.csrf_token }}
	{{form.dni.label() }}{{form.dni(placeholder="Dni")}}<br/>
	{{form.paterno.label() }}{{form.paterno()}}<br/>
	{{form.materno.label() }}{{form.materno()}}<br/>
	{{form.nombre.label() }}{{form.nombre()}}<br/>
	{{form.nacimiento.label() }}{{form.nacimiento()}}<br/>
  	<br/>
  	{{form.submit()}}
</form>
{% endblock %}


